extends layout

block content
  table
    for section in sections
      tr
        th(colspan=4)=section.model
      for ad in section.ads
        tr
          td
            img(src=ad.imageUrl)
          td
            a(href=ad.url)=ad.title
          td=ad.run
          td=ad.price
